<div class="padding" ng-controller="eventCtrl">
    <div class="full col-sm-9">
        <!-- content -->
        <!--/top story-->
        <div class="row">
            <div class="text-center day-hr">
                <h5>DAY</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 cook-img">
                <img class="img-responsive" ng-src="{{data.link}}" style="height:auto; alt=" ">
        </div>
      </div>
      <div class="row ">
        <div class="col-md-1 social ">
          <div class="com-hea ">
            <img class="img-responsive icoo " ng-src="{{imgheart}} " alt=" ">
             {{data.likes}}
             </div> 
             </div>
             <div class="col-md-2 social ">
             <div class="com-hea ">
            <img class="img-responsive icoo " ng-src="{{imgcomment}} " alt=" ">
           {{data.comments.count}}                    
            </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-6 ">
          <h3 class="Barbecue ">{{data.name}}</h3>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-3 ">
          <h3 class="oct ">{{data.date}}</h3>
        </div>
        <div class="col-md-2 ">
          <h3 class="oct ">{{data.time}}</h3>
        </div>          
      </div>
      <div class="row ">
        <div class="col-md-6 ">
          <img class="img-responsive loca " src="../assets/images/ic_loc.png " alt=" ">
          <p class="party ">{{data.location}}</p>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-8 ">
          <p class=" ">{{data.description}}</p>
        </div>
      </div>
      <div class="row" style="margin-bottom: 5rem">
        <div class="col-md-5 ">
          <a class="btn btn-default save-btn " ng-click="showAdvanced(data)" style="background-color: #2b904f; color: white;"><i class="fa fa-floppy-o fa-lg" aria-hidden="true"></i></a>
          <!-- <a class="btn btn-default save-btn " ng-click="share(data) " style="background-color: #3b5998; color:#fff "><md-icon md-font-icon="android " aria-label="android "></md-icon> Share</a> -->          
          <a href="#" class="btn btn-default save-btn" style="background-color: #3b5998; color:#fff" socialshare socialshare-provider="facebook" socialshare-url="{{url}}"> <i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
          <a href="#" class="btn btn-default save-btn" style="background-color: #007bb6; color:#fff" socialshare socialshare-provider="linkedin" socialshare-url="{{url}}" socialshare-text="{{data.name}}" socialshare-description="{{data.description}}" socialshare-source="{{url}}"> <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
          <a href="#" class="btn btn-default save-btn" style="background-color: #00aced; color:#fff" socialshare socialshare-provider="twitter" socialshare-url="{{url}}" socialshare-text="{{data.name}}" socialshare-hashtags="#Timenote #Events" socialshare-via="Timenote"> <i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
       </div>   
      </div>
    </div>
    <script type="text/ng-template " id="savedialog.html ">
      <md-dialog>
          <!-- <h4 class="modal-title " ng-if="myCalFlag ">You need to login to view the calendar</h4> -->
          <div layout="column" layout-align="center center " style="padding: 2rem 7rem ">
            <div layout-gt-sm="row " class="inputdemoErrorsAdvanced " style="padding-bottom: 1.3rem ">
              <h3>Are you sure you want to save this event?</h3>
            </div>
            <md-button md-no-ink=" " class="md-primary " ng-click="save(data) ">Save</md-button>            
            <md-button md-no-ink=" " class="md-primary " ng-click="cancel() ">Cancel</md-button>
          </div>
      </md-dialog>
    </script>
    <script type="text/ng-template " id="loginerror.html ">
      <md-dialog>
          <!-- <h4 class="modal-title " ng-if="myCalFlag ">You need to login to view the calendar</h4> -->
          <div layout="column " layout-align="center center " style="padding: 2rem 7rem ">
            <div layout-gt-sm="row " class="inputdemoErrorsAdvanced " style="padding-bottom: 1.3rem ">
              <h3>Login Error: Please login before saving the event</h3>
            </div>
            <!-- <md-button md-no-ink=" " class="md-primary " ng-click="save(data) ">Save</md-button>             -->
            <md-button md-no-ink=" " class="md-primary " ng-click="cancel()">Okay</md-button>
          </div>
      </md-dialog>
    </script>

    <!-- /col-9 -->
  
<!-- /main -->
</div>
